<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changelogs LinucxMD</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://telegra.ph/file/6686f3560a62e94e55816.jpg" type="image/x-icon" />
</head>
<body>
    <div class="changelogs-container">
        <h1>Changelogs LinucxMD</h1>

        <h2>Versi 1.0</h2>
        <ul>
            <li>New Base</li>
            <li>Perbaikan Eror Di Module Dll</li>
            <li>Perbaikan Bug Di Menu</li>
        </ul>

        <h2>Versi About</h2>
        <ul>
            <li>LinucxMD is a WhatsApp bot that aims to make it easier for you to carry out other activities</li>
            <li>LinucxMD has been built since 2018 and is still operating today, although there is a bit of a lack of updates, hehe</li>
        </ul>
    </div>
    <div class="repo-stats">
    <img src="https://img.shields.io/github/repo-size/username/repo-name" alt="Repo Size">
    <img src="https://github-readme-stats.vercel.app/api/pin/?username=NeeasTooID&repo=LinucxMD&theme=dark" alt="Last Commit">
    <img src="https://img.shields.io/github/contributors/username/repo-name" alt="Contributors">
</div>
    <script src="script.js"></script>
</body>
</html>
