body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark moon background color */
    color: #fff; /* Light text color */
}

.main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2d2d2d; /* Darker container background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}

.main-container h1 {
    color: #61dafb; /* GitHub blue header color */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center-align text */
    margin-top: -5px; /* Move the title upward slightly */
}

.main-container .repo-stats {
    border: 2px solid #61dafb; /* GitHub blue border color */
    padding: 15px;
    margin-bottom: 20px;
    width: 100%; /* Make this section take full width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.repo-stats img {
    display: block; /* Center-align image */
    margin: 0 auto; /* Center horizontally */
}

.main-container h2 {
    color: #61dafb; /* GitHub blue header color */
}

.main-container ul {
    list-style-type: none;
    padding: 0;
}

.main-container ul li {
    margin-bottom: 8px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .main-container {
        width: 90%;
        margin: 10px auto;
    }
}
